body {
    color: #000000;
    margin: auto;
    text-align: center;

}

.container {
   max-width: 500px;
    padding: 1%;
    border-radius: 50px;
    margin-top: 5%;
    outline: 3px solid rgb(255, 0, 0);
}
